h1 {
  margin: 0 auto;
}

.poll--create {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border: 2px solid black;
  padding: 1em;
}

#pollTitle {
  align-self: flex-start;
}

.optionGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: auto;
  grid-column: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10em, 1fr);
}
/* Styling for options buttons when buttons become more than 2 */
.option-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.all-polls-vote-column {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, minmax(30em, 1fr));
  grid-auto-rows: minmax(5em, 1fr);
}
.no-of-option-vote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.barGrid {
  position: relative;
  display: grid;
  grid-auto-columns: minmax(5em, 1fr);
  grid-auto-rows: 1fr;
}

.bar {
  background-color: transparent;
  border: 2px solid black;
  position: absolute;
  width: 10em;
  height: 5em;
  top: 5em;
  margin-top: 1em;
}

.bar:first-of-type {
  margin-top: 0;
  width: 10em;
  height: 5em;
  top: 0;
}
.navbarTextCollapased {
  text-decoration: none;
}
.poll-after-submit-option {
  position: relative;
  margin: 1em auto;
  color: black;
  width: 80%;
  height: 5em;
  border-radius: 1.2em;
  display: flex;
  justify-content: flex-start;
}
.indivisual-poll {
  margin: 1.7em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.poll-fill-in {
  background-color: #4362ee48;
  position: absolute;
  top: 0;
  bottom: 0;
}
/* 4896ef5d */
.voteNumber {
  font-size: 4em;
}
.totalVotes {
  font-size: 1em;
}
